body {
    background-image: url('img\kitten-cat-butterflies-black-background-glowing-3840x2160-4495.jpg');
    background-size: cover;
    color: rgba(255, 255, 255, 0.808);
    text-align: center;
    line-height: 1.7;
    font-size: large;
}

hr {
    width: 70%;
}